.header-wrapper {
    height: auto;
    width: 100vw;
    height: 5vh;
    /* background-color: #f1f1f1; */
    overflow: hidden;
    border-bottom: 1px solid rgb(192, 193, 195);
}

.header-content {
    height: 100%;
    text-align: center;
    background-color: rgb(139, 21, 21);
    font-size: 36px;
    font-weight: 600;
    color: white;
}